* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

:root {
    /* CORES */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #66CDAA;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;

    /* FONTES */
    --font-main: "Sora", sans-serif;
    --d-large: 800 4.5rem/130%  var(--font-main);
    --d-medium: 800 2.5rem/130% var(--font-main);
    --d-small: 800 2rem/130% var(--font-main);

    --font-secondary: "Roboto Mono", monospace;
    --overline: 700 1rem/150% var(--font-secondary);

    --font-tertiary: "Roboto Flex", sans-serif;
    --p-large: 500 1rem/150% var(--font-tertiary);
    --p-medium: 500 0.875rem/150% var(--font-tertiary);
    --p-small: 500 0.75rem/150% var(--font-tertiary);
    --l-medium: 700 1.25rem/150% var(--font-tertiary);
    --l-small: 700 1rem/150% var(--font-tertiary);
}


  body {
    background:
      linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
      url(/assets/img/shapes.png);
  
    background-repeat: repeat;       
    background-size: auto;           
    background-position: center top;
    background-color: #000;          
  }

.title-first {
    display: flex;
    align-items: center;
    padding-block: 4.75rem;
    margin-left: 7.5rem;
    gap: .5rem;
    
    & h1 {
        font: var(--d-large);
        color: var(--content-primary);
        font-size: 1.5rem;
        width: 7.6875rem;
        height: 1.9375rem;
        text-transform: uppercase;
    }
}

.container {
    max-width: 1098px;
    height: auto;
    margin-inline: 8.375rem;

    display: flex;
    gap: 6.75rem;
}