.container {
    .content {
        header {
            width: 31.75rem;
            gap: 0.75rem;
            & h4 {
                font: var(--overline);
                color: var(--content-tertiary);
                text-transform: uppercase;
                word-spacing: 10px;
            }
            
            & h1 {
                font: var(--d-large);
                color: var(--content-primary);
                text-transform: uppercase;
                font-size: 4rem;
            }
        }
    }

    .questions {
        display: grid;
        gap: 2rem;

        margin-top: 2.375rem;

        img {
            align-self: flex-start;
        }

        .items {
            display: flex;
            gap: .5rem;
             span {
                font: var(--p-medium);
                color: var(--content-brand);
             }

             p {
                font: var(--p-small);
                color: var(--content-secondary);
             }

             .frames {
                flex-direction: column;
             }
        }
    }

    .content-form {
        display: grid;
        gap: 1rem;
        .title-form {
            height: .5rem;
            flex-direction: column;
            gap: .5rem;
            h3 {
                font: var(--p-large);
                color: var(--content-primary);
                text-transform: uppercase;
            }

            p {
                font: var(--p-medium);
                color: var(--content-secondary);
            }
        }
    }
    
                form {
                    display: grid;
                    gap: .5rem;
                   & .fields {
                        display: flex;
                        gap: .5rem;
                       & .numbers {
                        display: grid;
                        gap: .1rem;
                            label {
                                font: var(--l-small);
                                color: var(--content-secondary);
                                text-align: center;
                            }
                        }
                    }
            
                    .option-toggle {
                        #label-1 {
                            font: var(--p-medium);
                            color: var(--content-secondary);
                        }
                    }
                }

                .input-box {
                    width: 90px;
                    height: 56px;
                }
                .numbers .input-box {
                    position: relative;
                    border: 1px;
                    border-radius: .5rem;
                    padding: 10px 16px;
                    background-color: var(--background-secondary);
                    text-align: center;
                }

                .numbers input[type="number"]::-webkit-inner-spin-button {
                    display: none; 
                }

                input[type="number"] {
                    font: var(--d-small);
                    color: var(--content-primary);
                }
}