.container {
    .content {
        header {
            width: 31.75rem;
            gap: 0.75rem;
            & h4 {
                font: var(--overline);
                color: var(--content-tertiary);
                text-transform: uppercase;
                word-spacing: 10px;
            }
            
            & h1 {
                font: var(--d-large);
                color: var(--content-primary);
                text-transform: uppercase;
                font-size: 4rem;
            }
        }
    }
}